body{
    background: linear-gradient(to top right, #192231, #985e6d) ;
}
.login-block{
    width:100%;
    position:fixed;
    top: 25%;
}

.banner-photo{
    background:url("../images/login-back3.jpg")  no-repeat left bottom;
    background-size:cover;
    min-height:500px;
    border-radius: 0 10px 10px 0;
    padding:0;
}


.container{
    background: rgba(25, 34, 49, 0.7);
    border-radius: 10px;
}

.login-section{
    padding: 50px 30px;
    position:relative;
}

.login-section .banner-text{
    position:absolute;
    width:80%;
    bottom:20px;
    font-size:13px;
    text-align:center;

}

.login-section .banner-text i {
    color:#fff;
}

.login-section {
    color:#fff;
}

.login-section h2{
    margin-bottom:30px;
    font-weight:800;
    font-size:30px;
    color: #fff;
    margin-top: 10px;
}

.login-section label {
    color: #fff;
    margin-top: 3px
}

.btn-login{
    background: #985e6d;
    color:#fff;
    font-weight:600;
}

.banner-text{
    width:70%;
    position:absolute;
    bottom:40px;
    padding-left:20px;
    color: #fff;
}

.banner-text h2{
    color:#fff;
    font-weight:600;
}

.banner-text p{
    color:#fff;
}

.banner-text a{
    color:#985e6d;
}

.form-check span{
    top: 5px;
    position:  relative;
}

.remember-me {
    top: 20px;
    position: relative;
}

.login-form {
    margin-top: 70px;
}