@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    line-height: 1;
    font-family: Nunito, sans-serif;
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.container-fluid{
    overflow: hidden;
    padding: 0;
}

button.close {
    padding: 15px;
    color: #e1e6ea;
}

.modal-title{
    padding-top:10px;
}

.modal-content {
    background: rgba(152, 135, 143, 0.7);
    border-radius: 10px;
}

.modal-title {
    color:#e1e6ea;
}

label {
    color: #e1e6ea;
}

.new-room-form{
    margin: 15px;
}

.invisible {
    position: absolute;
    left: -9999px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #494e68;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #192231;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }